.bigScreenText {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffe94a;
  z-index: 3;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  display: none;
}
