.friends__section .friends__section-header {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 15px;
  font-size: 12px;
  color: #b4b4b4;
}

.friends__section-rows .friends__section-row {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.friends__section-row.with-tagline {
  justify-content: space-between;
}

.friends__section-tagline {
  font-size: 10px;
  background: #f0f0f0;
  padding: 10px 10px;
  border-radius: 5px;
  color: #939393;
}

.friends__section-row img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.friends__section-row a {
  text-decoration: none;
  color: inherit;
}

.friends__section-column {
  display: flex;
  align-items: center;
}
