.search-bar {
  padding: 10px 25px;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 5px 7px;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  background-color: #f1f2f3;
  font-size: 13px;
  text-align: center;
}

.search-bar input:focus {
  outline: none;
}

.search-bar i {
  position: absolute;
  top: 15px;
  left: 40px;
  color: #bbbbbb;
}
