@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import 'reset.css';
@import 'globals.css';
@import 'header.css';
@import 'navigation.css';
@import 'search-bar.css';
@import 'friends.css';
@import 'chats.css';
@import 'find.css';
@import 'more.css';
@import 'profile.css';
@import 'chat.css';
@import 'bigScreen.css';
@import 'mobile.css';
